.container {
    background-color: #AA0004;
}
header {
    text-align: center;
}
.pictures {
    background-color: black;
    text-align: center;
}
.photo {
    width: 17%;
    display: inline-block;
}
.titleofpage {
    color: white;
}
.position {
    display: flex;
}
.text1 {
    background-color: #8B0006;
    font-size: 18px;
    text-decoration: underline;
    color: #F23301;
    width: 20%;
    margin-bottom: 15px;
}
.text2 {
    color: white;
    font-size: 18px;
    width: 60%;
}
.article {
    background-color: #E5DCDD;
    width: 20%;
    margin-bottom: 15px;
    font-size: 18px;
}
.title {
    background-color: #BDBDBD;
    text-align: center;
    margin: auto;
}
 hr {
    border: 1px solid grey;
    width: 20%;
}
footer {
    font-size: 20px;
    text-align: center;
    background-color: #FF3E04;
    color: white;
}
  